<?xml version="1.0"?>
<config>
    <tabs>
        <ecp_link_share_config translate="label" module="catalog">
            <label>ECP Link Share Upgrade</label>
            <sort_order>300</sort_order>
        </ecp_link_share_config>
    </tabs>
	<sections>
		<link_share_settings translate="label" module="catalog">
			<label>Link Share Settings</label>
			<tab>ecp_link_share_config</tab>
			<frontend_type>text</frontend_type>
			<sort_order>100</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general>
					<label>General</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<merchant_id translate="label">
							<label>Merchant ID </label>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[ Merchant ID of LinkShare]]></comment>
						</merchant_id>
					</fields>
				</general>
                <ftp translate="label comment">
                    <label>FTP Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Upload Datafeed Files daily By FTP</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Specify if scheduled cron job should upload datafeed daily.]]></comment>
                        </active>

                        <host translate="label">
                            <label>FTP Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[]]></comment>
                        </host>
                        <port translate="label">
                            <label>FTP Port</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Usually "21"]]></comment>
                        </port>
                        <user translate="label">
                            <label>FTP User name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[]]></comment>
                        </user>
                        <password translate="label">
                            <label>FTP Password</label>
                            <frontend_type>text</frontend_type>
                            <!--<frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>-->
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[]]></comment>
                        </password>
                        <localPath translate="label">
                            <label>Local Path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Local Path that contains generated datafeed.]]></comment>
                        </localPath>
                    </fields>
                </ftp>
			</groups>
		</link_share_settings>
	</sections>
</config>
