<?xml version="1.0"?>
<config>
    <modules>
        <Dtn_Saveforlater>
            <version>1.0.0</version>
        </Dtn_Saveforlater>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Dtn_Saveforlater>
                    <files>
                        <default>Dtn_Saveforlater.csv</default>
                    </files>
                </Dtn_Saveforlater>
            </modules>
        </translate>
        <routers>
            <saveforlater>
                <use>standard</use>
                <args>
                    <module>Dtn_Saveforlater</module>
                    <frontName>saveforlater</frontName>
                </args>
            </saveforlater>
        </routers>
        <layout>
            <updates>
                <saveforlater module="Dtn_Saveforlater">
                    <file>dtn/saveforlater.xml</file>
                </saveforlater>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <saveforlater>
                <class>Dtn_Saveforlater_Model</class>
                <resourceModel>saveforlater_mysql4</resourceModel>
            </saveforlater>
            <saveforlater_mysql4>
                <class>Dtn_Saveforlater_Model_Mysql4</class>
                <entities>
                    <savemain>
                        <table>dtn_save_forlater_main</table>
                    </savemain>
                    <saveitem>
                        <table>dtn_save_forlater_item</table>
                    </saveitem>
                </entities>
            </saveforlater_mysql4>
        </models>
        <helpers>
            <saveforlater>
                <class>Dtn_Saveforlater_Helper</class>
            </saveforlater>
        </helpers>
        <resources>
            <saveforlater_setup>
                <setup>
                    <module>Dtn_Saveforlater</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </saveforlater_setup>
            <saveforlater_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </saveforlater_write>
            <saveforlater_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </saveforlater_read>
        </resources>
        <blocks>
            <saveforlater>
                <class>Dtn_Saveforlater_Block</class>
            </saveforlater>
        </blocks>
    </global>
</config>