<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- AjaxPro -->
   <modules>
       <TM_AjaxPro>
           <version>2.1.0</version>
       </TM_AjaxPro>
   </modules>

   <global>

        <models>
            <ajaxpro>
                <class>TM_AjaxPro_Model</class>
            </ajaxpro>
        </models>

        <helpers>
            <ajaxpro>
                <class>TM_AjaxPro_Helper</class>
            </ajaxpro>
        </helpers>

        <resources>
            <ajaxpro_setup>
                <setup>
                    <module>TM_AjaxPro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxpro_setup>
            <ajaxpro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxpro_write>
            <ajaxpro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxpro_read>
        </resources>

        <blocks>
            <catalog>
                <rewrite>
                    <product_list>TM_AjaxPro_Block_Product_List</product_list>
                </rewrite>
            </catalog>
            <ajaxpro>
                <class>TM_AjaxPro_Block</class>
            </ajaxpro>
        </blocks>

        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <ajaxpro_add_block_wrapper>
                        <class>ajaxpro/observer</class>
                        <method>addBlockWrapper</method>
                    </ajaxpro_add_block_wrapper>
                </observers>
            </core_block_abstract_to_html_after>

            <controller_action_postdispatch_checkout_cart_add>
                <observers>
                    <ajaxpro_checkout_cart_add_action>
                        <class>ajaxpro/observer</class>
                        <method>checkoutCartAddAction</method>
                    </ajaxpro_checkout_cart_add_action>
                </observers>
            </controller_action_postdispatch_checkout_cart_add>

            <controller_action_postdispatch_checkout_cart_updatePost>
                <observers>
                    <ajaxpro_checkout_cart_updatePost_action>
                        <class>ajaxpro/observer</class>
                        <method>checkoutCartAddAction</method>
                    </ajaxpro_checkout_cart_updatePost_action>
                </observers>
            </controller_action_postdispatch_checkout_cart_updatePost>

            <controller_action_postdispatch_checkout_cart_updateItemOptions>
                <observers>
                    <ajaxpro_checkout_cart_updateItemOptions_action>
                        <class>ajaxpro/observer</class>
                        <method>checkoutCartAddAction</method>
                    </ajaxpro_checkout_cart_updateItemOptions_action>
                </observers>
            </controller_action_postdispatch_checkout_cart_updateItemOptions>

            <checkout_cart_update_item_complete>
                <observers>
                    <ajaxpro_checkout_cart_updateItemOptions_complete>
                        <class>ajaxpro/observer</class>
                        <method>checkoutCartupdateItemOptionsComplete</method>
                    </ajaxpro_checkout_cart_updateItemOptions_complete>
                </observers>
            </checkout_cart_update_item_complete>

            <controller_action_postdispatch_checkout_cart_delete>
                <observers>
                    <ajaxpro_checkout_cart_delete_action>
                        <class>ajaxpro/observer</class>
                        <method>checkoutCartAddAction</method>
                    </ajaxpro_checkout_cart_delete_action>
                </observers>
            </controller_action_postdispatch_checkout_cart_delete>

            <controller_action_postdispatch_wishlist_index_add>
                <observers>
                    <ajaxpro_wishlist_index_addAction>
                        <class>ajaxpro/observer</class>
                        <method>wishlistIndexAddAction</method>
                    </ajaxpro_wishlist_index_addAction>
                </observers>
            </controller_action_postdispatch_wishlist_index_add>

            <controller_action_postdispatch_wishlist_index_remove>
                <observers>
                    <ajaxpro_wishlist_index_removeAction>
                        <class>ajaxpro/observer</class>
                        <method>wishlistIndexAddAction</method>
                    </ajaxpro_wishlist_index_removeAction>
                </observers>
            </controller_action_postdispatch_wishlist_index_remove>

            <controller_action_postdispatch_wishlist_index_cart>
                <observers>
                    <ajaxpro_wishlist_index_cartAction>
                        <class>ajaxpro/observer</class>
                        <method>wishlistIndexCartAction</method>
                    </ajaxpro_wishlist_index_cartAction>
                </observers>
            </controller_action_postdispatch_wishlist_index_cart>

           <controller_action_postdispatch_catalog_product_compare_add>
                <observers>
                    <ajaxpro_catalog_product_compare_add>
                        <class>ajaxpro/observer</class>
                        <method>catalogProductCompareAddAction</method>
                    </ajaxpro_catalog_product_compare_add>
                </observers>
            </controller_action_postdispatch_catalog_product_compare_add>

            <controller_action_postdispatch_catalog_product_compare_remove>
                <observers>
                    <ajaxpro_catalog_product_compare_remove>
                        <class>ajaxpro/observer</class>
                        <method>catalogProductCompareAddAction</method>
                    </ajaxpro_catalog_product_compare_remove>
                </observers>
            </controller_action_postdispatch_catalog_product_compare_remove>

            <controller_action_postdispatch_catalog_product_compare_clear>
                <observers>
                    <ajaxpro_catalog_product_compare_clear>
                        <class>ajaxpro/observer</class>
                        <method>catalogProductCompareAddAction</method>
                    </ajaxpro_catalog_product_compare_clear>
                </observers>
            </controller_action_postdispatch_catalog_product_compare_clear>

<!--    @todo
        <controller_action_predispatch_catalog_category_view>
                <observers>
                    <ajaxpro_catalog_product_compare_clear>
                        <class>ajaxpro/observer</class>
                        <method>preCatalogCategoryViewAction</method>
                    </ajaxpro_catalog_product_compare_clear>
                </observers>
            </controller_action_predispatch_catalog_category_view>

            <controller_action_postdispatch_catalog_category_view>
                <observers>
                    <ajaxpro_catalog_product_compare_clear>
                        <class>ajaxpro/observer</class>
                        <method>postCatalogCategoryViewAction</method>
                    </ajaxpro_catalog_product_compare_clear>
                </observers>
            </controller_action_postdispatch_catalog_category_view>-->
        </events>

    </global>

    <default>
        <ajax_pro>
            <general>
                <enabled>0</enabled>
                <location>center</location>
                <enabled_overlay>0</enabled_overlay>
                <overlay_opacity>0.7</overlay_opacity>
                <duration>0.5</duration>
                <opacity>0.95</opacity>
                <text></text>
                <enabledNoticeForm>0</enabledNoticeForm>
                <disabledOnShoppingCartPage>0</disabledOnShoppingCartPage>
		<disabledOnMobileDevice>0</disabledOnMobileDevice>
                <showOptionsPopup>1</showOptionsPopup>
                <useHeaderCartBlock>0</useHeaderCartBlock>
                <useLoginFormBlock>0</useLoginFormBlock>
            </general>
            <addToCart>
                <enabled>0</enabled>
                <enabledForm>0</enabledForm>
                <enabledDeleteConfirm>1</enabledDeleteConfirm>
            </addToCart>
            <addToCompare>
                <enabled>0</enabled>
                <enabledForm>0</enabledForm>
                <enabledDeleteConfirm>1</enabledDeleteConfirm>
            </addToCompare>
            <addToWishlist>
                <enabled>0</enabled>
                <enabledForm>0</enabledForm>
                <enabledDeleteConfirm>1</enabledDeleteConfirm>
            </addToWishlist>
            <addScrolling>
                <enabled>0</enabled>
                <type>scroll</type>
            </addScrolling>
        </ajax_pro>
    </default>

    <frontend>
        <layout>
            <updates>
                <ajaxpro>
                    <file>ajaxpro.xml</file>
                </ajaxpro>
            </updates>
        </layout>
        <routers>
            <TM_AjaxPro>
            <!--  should be set to "admin" when overloading admin stuff (?) -->
            <use>standard</use>
            <args>
                <module>TM_AjaxPro</module>
                <!--  This is used when "catching" the rewrite above -->
                <frontName>ajaxpro</frontName>
            </args>
            </TM_AjaxPro>
        </routers>
        <translate>
            <modules>
                <TM_Ajaxpro>
                    <files>
                        <default>TM_Ajaxpro.csv</default>
                    </files>
                </TM_Ajaxpro>
            </modules>
        </translate>
   </frontend>

   <adminhtml>
        <translate>
            <modules>
                <TM_Ajaxpro>
                    <files>
                        <default>TM_Ajaxpro.csv</default>
                    </files>
                </TM_Ajaxpro>
            </modules>
        </translate>
    </adminhtml>
</config>
