<?xml version="1.0"?>
<config>
    <modules>
        <OpsWay_SimpleImages>
            <version>0.1.0</version>
        </OpsWay_SimpleImages>
    </modules>
    <global>
        <blocks>
            <simpleimages>
                <class>OpsWay_SimpleImages_Block</class>
            </simpleimages>
        </blocks>
        <models>
            <simpleimages>
                <class>OpsWay_SimpleImages_Model</class>
            </simpleimages>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <simpleimages>
                    <file>simpleimages.xml</file>
                </simpleimages>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <fishpig_save_product_data>
                        <type>singleton</type>
                        <class>simpleimages/observer</class>
                        <method>saveProductTabData</method>
                    </fishpig_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>