<?xml version="1.0"?>
<config>
    <modules>
        <Jain_Ordertracking>
            <version>0.1.0</version>
        </Jain_Ordertracking>
    </modules>
    <frontend>
        <routers>
            <ordertracking>
                <use>standard</use>
                <args>
                    <module>Jain_Ordertracking</module>
                    <frontName>ordertracking</frontName>
                </args>
            </ordertracking>
        </routers>
        <layout>
            <updates>
                <ordertracking>
                    <file>ordertracking.xml</file>
                </ordertracking>
            </updates>
        </layout>
    </frontend>  
    <global>
        <models>
            <ordertracking>
                <class>Jain_Ordertracking_Model</class>
                <resourceModel>ordertracking_mysql4</resourceModel>
            </ordertracking>
            <ordertracking_mysql4>
                <class>Jain_Ordertracking_Model_Mysql4</class>
                <entities>
                    <ordertracking>
                        <table>ordertracking</table>
                    </ordertracking>
                </entities>
            </ordertracking_mysql4>
        </models>
        <resources>
            <ordertracking_setup>
                <setup>
                    <module>Jain_Ordertracking</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ordertracking_setup>
            <ordertracking_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ordertracking_write>
            <ordertracking_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ordertracking_read>
        </resources>
        <blocks>
            <ordertracking>
                <class>Jain_Ordertracking_Block</class>
            </ordertracking>
        </blocks>
        <helpers>
            <ordertracking>
                <class>Jain_Ordertracking_Helper</class>
            </ordertracking>
        </helpers>
    </global>
</config>