<?xml version="1.0"?>
<config>
    <modules>
        <Dtn_Cutomstockstatus>
            <version>1.0.0</version>
        </Dtn_Cutomstockstatus>
    </modules>
    <frontend>
        <routers>
            <cutomstockstatus>
                <use>standard</use>
                <args>
                    <module>Dtn_Cutomstockstatus</module>
                    <frontName>cutomstockstatus</frontName>
                </args>
            </cutomstockstatus>
        </routers>
        <layout>
            <updates>
                <cutomstockstatus module="Dtn_Cutomstockstatus">
                    <file>dtn/cutomstockstatus.xml</file>
                </cutomstockstatus>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <cutomstockstatus>
                <class>Dtn_Cutomstockstatus_Helper</class>
            </cutomstockstatus>
        </helpers>
        <models>
            <cutomstockstatus>
                <class>Dtn_Cutomstockstatus_Model</class>
            </cutomstockstatus>
            <sales>
                <rewrite>
                    <quote_item>Dtn_Cutomstockstatus_Model_Rewrite_Sales_Quote_Item</quote_item>
                </rewrite>
            </sales>
        </models>
        <resources>
            <cutomstockstatus_setup>
                <setup>
                    <module>Dtn_Cutomstockstatus</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cutomstockstatus_setup>
            <cutomstockstatus_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cutomstockstatus_write>
            <cutomstockstatus_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cutomstockstatus_read>
        </resources>
        <blocks>
            <cutomstockstatus>
                <class>Dtn_Cutomstockstatus_Block</class>
            </cutomstockstatus>
        </blocks>
        <events>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <check_quantity_item_quote>
                        <class>cutomstockstatus/observer</class>
                        <method>checkQuantityItemQuote</method>
                    </check_quantity_item_quote>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <checkout_cart_update_items_before>
                <observers>
                    <check_quantity_item_quote_before>
                        <class>cutomstockstatus/observer</class>
                        <method>checkQuantityUpdateItem</method>
                    </check_quantity_item_quote_before>
                </observers>
            </checkout_cart_update_items_before>
            <checkout_onepage_controller_success_action>
                <observers>
                    <check_change_qty_of_product>
                        <class>cutomstockstatus/observer</class>
                        <method>setQtyOfProductAfterCheckout</method>
                    </check_change_qty_of_product>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </global>
</config>