/** Save for later ext **/
#save-for-later{ position:fixed; bottom:0; left:0; width:100%; padding:0 ; z-index:100; border-top:1px solid #999; background:#fff;}
#save-for-later .list-product li{ float:left; background:none; padding:0; margin:0 10px 7px 0; position:relative;}
#save-for-later .list-product li .product-information{ display:none;}
#save-for-later .list-product li img{ border:1px solid #dbdbdb;}
#save-for-later .list-product li a:hover img{ border-color:#000;}
#save-for-later #save-content{ padding:10px 10px 5px; overflow:hidden;}
#save-for-later #save-content > h3{ float:left; padding:0 15px 0 0; margin:24px 10px 0 0; font-size:16px; text-transform:none;}
#save-for-later .list-product{ float:left;}
#save-for-later .quickview{ top:auto; bottom:1px; width:72px; left:0; font-size:11px; padding:2px;}
#save-for-later .quickview a{ text-transform:none;}
.save-for-later-press{ background:#EAEAEA; padding:3px 0; text-align:center; width:100%;}

#save-for-later-table { border:1px solid #ccc; width:100%;border-spacing: 0;   empty-cells: show;}
#save-for-later-table thead th{vertical-align: middle;  white-space: nowrap;color: #0a263c;  font-weight: bold;border-right: 1px solid #ccc;border-bottom:1px solid #ccc; background:#d9e5ee; padding:5px 10px;}
#save-for-later-table td{ border-right:1px solid #ccc;  border-bottom:1px solid #ccc; padding:5px 10px;}
#save-for-later-table tr.last th, #save-for-later-table tr.last td{ border-bottom:none;}

