<?xml version="1.0"?>
<config>
    <modules>
        <Fishbane_UGA>
            <version>0.1.0</version>
        </Fishbane_UGA>
    </modules>
	<global>
		<blocks>
			<googleanalytics>
				<rewrite>
					<ga>Fishbane_UGA_Block_Ga</ga>
				</rewrite>
			</googleanalytics>
		</blocks>
	</global>
</config>