<?xml version="1.0"?>
<config>
    <modules>
        <Inic_Productzoom>
            <version>0.1.0</version>
        </Inic_Productzoom>
    </modules>
    <frontend>
        <routers>
            <productzoom>
                <use>standard</use>
                <args>
                    <module>Inic_Productzoom</module>
                    <frontName>productzoom</frontName>
                </args>
            </productzoom>
        </routers>
        <layout>
            <updates>
                <productzoom>
                    <file>productzoom.xml</file>
                </productzoom>
            </updates>
        </layout>
    </frontend>         
    <global>        
        <resources>
            <productzoom_setup>
                <setup>
                    <module>Inic_Productzoom</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productzoom_setup>
            <productzoom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productzoom_write>
            <productzoom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productzoom_read>
        </resources>        
        <helpers>
            <productzoom>
                <class>Inic_Productzoom_Helper</class>
            </productzoom>
        </helpers>
    </global>
	<adminhtml>
	<acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <productzoom>
                                        <title>overwrite - All</title>
                                    </productzoom>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
	</adminhtml>
</config>