<?xml version="1.0"?>
<config>
    <modules>
        <Dtn_All>
            <version>1.0.0</version>
        </Dtn_All>
    </modules>
    <frontend>
        <routers>
            <dtn_all>
                <use>standard</use>
                <args>
                    <module>Dtn_All</module>
                    <frontName>designer</frontName>
                </args>
            </dtn_all>
        </routers>
        <layout>
            <updates>
                <dtn_all module="Dtn_All">
                    <file>dtn/dtn_all.xml</file>
                </dtn_all>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <dtn_all>
                <class>Dtn_All_Helper</class>
            </dtn_all>
        </helpers>
        <models>
            <dtn_all>
                <class>Dtn_All_Model</class>
            </dtn_all>
        </models>
        <resources>
            <dtnall_setup>
                <setup>
                    <module>Dtn_All</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dtnall_setup>
            <dtnall_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dtnall_write>
            <dtnall_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dtnall_read>
        </resources>
        <events>
            <sales_order_place_before>
                <observers>
                    <adding_product_mrp_order>
                        <type>singleton</type>
                        <class>Dtn_All_Model_Observer</class>
                        <method>saveEventDateItem</method>
                    </adding_product_mrp_order>
                </observers>
            </sales_order_place_before>

            <sales_order_invoice_save_before>
                <observers>
                    <adding_product_mrp_invoice>
                        <type>singleton</type>
                        <class>Dtn_All_Model_Observer</class>
                        <method>saveEventDateItemInInvoice</method>
                    </adding_product_mrp_invoice>
                </observers>
            </sales_order_invoice_save_before>

            <sales_order_shipment_save_before>
                <observers>
                    <adding_product_mrp_shipment>
                        <type>singleton</type>
                        <class>Dtn_All_Model_Observer</class>
                        <method>saveEventDateItemInShipment</method>
                    </adding_product_mrp_shipment>
                </observers>
            </sales_order_shipment_save_before>
        </events>
        <blocks>
            <dtn_all>
                <class>Dtn_All_Block</class>
            </dtn_all>
        </blocks>
    </global>
</config>