<?xml version="1.0"?>
<config>
    <modules>
        <OpsWay_QuickBox>
            <version>1.0.0</version>
        </OpsWay_QuickBox>
    </modules>
    <global>
        <blocks>
            <opsway_quickbox>
                <class>OpsWay_QuickBox_Block</class>
            </opsway_quickbox>
            <opsway_quickbox_adminhtml>
                <class>OpsWay_QuickBox_Block_Adminhtml</class>
            </opsway_quickbox_adminhtml>
        </blocks>
        <models>
            <opsway_quickbox>
                <class>OpsWay_QuickBox_Model</class>
            </opsway_quickbox>
        </models>
        <helpers>
            <opsway_quickbox>
                <class>OpsWay_QuickBox_Helper</class>
            </opsway_quickbox>
        </helpers>
        <!--
        <resources>
            <opsway_quickbox_setup>
                <setup>
                    <module>OpsWay_QuickBox</module>
                </setup>
            </opsway_quickbox_setup>
        </resources>
        -->
        <!--
        <events>
            <catalog_product_load_after>
                <observers>
                    <opsway_quickbox>
                        <class>opsway_quickbox/observer</class>
                        <method>catalogProductLoadAfter</method>
                    </opsway_quickbox>
                </observers>
            </catalog_product_load_after>
        </events>
        -->
    </global>
    <frontend>
        <routers>
           <opsway_quickbox>
               <use>standard</use>
               <args>
                   <module>OpsWay_QuickBox</module>
                   <frontName>quickbox</frontName>
               </args>
           </opsway_quickbox>
        </routers>
        <layout>
            <updates>
                <opsway_quickbox>
                    <file>opsway_quickbox.xml</file>
                </opsway_quickbox>
            </updates>
        </layout>
    </frontend>
    <!--
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <OpsWay_QuickBox before="Mage_Adminhtml">OpsWay_QuickBox_Adminhtml</OpsWay_QuickBox>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    -->
    <!--
    <crontab>
        <jobs>
            <opsway_quickbox_cron>
                <schedule>
                    <cron_expr>0,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>opsway_quickbox/observer::methodName</model>
                </run>
            </opsway_quickbox_cron>
        </jobs> 
    </crontab>
    -->
</config>
